.banner-img img{
    width: 15%;
    position: absolute;
    top: 4%;
    left: 75%;
 
}

.resposta{
    outline: 0;
    border: 0 none;
    height: 200px;
    resize: none !important;
    background-color: #284B63;
  }
  
  .resposta:focus {
    color: white;
    background-color: #284B63;
  }
  
.box{
    width:100vh;
    height:30vh;
    margin:auto;
    padding:auto;
}

.btn{
    width:50vh;
}