/*Fundo e cores*/
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.bg-darkblue{
    background-color: #0C2637;
}

.bg-blue{
    background-color: #284B63;
}

.bg-darkerblue{
    background-color: #0C2637;
}

.bg-pattern{
    background:url(../media/Background_pattern.png);
}

.form-label{
    width: 50%;
    padding: auto;
    margin: auto;
}

.img{
    width: 240px;
    height: 220px;
}

/*Links*/
a:link{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

a:hover{
    color:#5a86a3;
}

.btn-cadastrar button {
    color: #fff;
    cursor: pointer;
    border: none !important;
    background-color: transparent;
}