/*Fundo e cores*/
body{
    font-family: 'Roboto', sans-serif;
}


.bg-darkblue{
    background-color: #0C2637;
}

.bg-blue{
    background-color: #284B63;
}

.bg-darkerblue{
    background-color: #061925;
}

.bg-pattern{
    background:url(../media/Background_pattern.png);
}

.form-label{
    width: 50%;
    padding: auto;
    margin: auto;
}

.img{
    width: 15%;
    height: 15%;
    margin-left: 2rem;
}

/*Links*/
a:link{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

a:hover{
    color:#5a86a3;
}




