<div class="container py-2 text-center">
    <div class="container bg-darkblue text-light py-4">
        <h1>DESbug</h1>
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, excepturi.</h3>

    <div class="container py-3">
        <div class="container py-2">
            <img class="img" src="public/media/2.png">
        </div>

        <div class="container text-center">
            <form class="mx-auto">
                <div class="form-group py-3 form-label">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nome completo">
                </div>

                <div class="form-group py-2 form-label">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="e-mail">
                </div>
                    
                <div class="form-group py-2 form-label">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="usuário">
                </div>

                <div class="form-group py-2 form-label">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
                </div>

                <div class="form-group py-2 form-label">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="data de nascimento">
                </div>
                
                <div class="container py-4 form-label">
                  <a href="{{URL}}"><button class="btn bg-light" id="btnentrar">Cadastrar</button></a>
                </div>
        </div>
    </div>
</div>