{{header}}

<section class="bg-darkblue py-3 px-3">

<div class="container-global d-flex justify-content-between">

    <!--User card-->
    <div class="user-global user-card bg-blue text-center rounded">
        <div class="user-info p-2">
            <img class="user-pfp-img rounded" src="public/media/profilepic.png">
            <h4 class="py-2 text-center">username</h4>

            <div class="xp-group py-2 d-flex justify-content-between">
                <h5>XP</h5>
                <h5>75%</h5>

            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                    aria-valuemax="100">
                </div>
            </div>

            <div class="container py-4">
            <h5 class="text-left">Medalhas</h5>
            <div class="bg-blue d-flex justify-content-center py-2 px-1">
                
                <!--Medalha-->
                <div class="medal-card d-flex justify-content-center">
                    <div class="container">
                        <img class="card-img-top bg-darkblue rounded" src="public/media/medalhas/medal1.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text text-center">
                              XP 100
                          </p>
                        </div>
                    </div>
                    
                </div>
               <!--Medalha-->
                  <!--Medalha-->
                  <div class="medal-card d-flex justify-content-center">
                    <div class="container">
                        <img class="card-img-top bg-darkblue rounded" src="public/media/medalhas/medal1.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text text-center">
                              XP 100
                          </p>
                        </div>
                    </div>
                    
                </div>
               <!--Medalha-->
                <!--Medalha-->
                <div class="medal-card d-flex justify-content-center">
                    <div class="container">
                        <img class="card-img-top bg-darkblue rounded" src="public/media/medalhas/medal1.png" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text text-center">
                              XP 100
                          </p>
                        </div>
                    </div>    
                </div>
               <!--Medalha-->
            
            </div>
            <p class="tinytext py-2">Ver todas as medalhas</p>
        </div>
        </div>
    </div>


    <!--Desafios card-->
    <div class="desafios-global rounded">
        <!--Banner-->
        <div class="container d-flex justify-content-between">
            <div class="banner bg-darkblue bg-pattern py-2 px-4">
                <h1>DESAFIOS</h1>
                <h4>DA SEMANA</h4>
            </div>
            <div class="banner-img">
                <img src="public/media/3.png">
            </div>
        </div>
        <!--Banner-->

        <!--Categoria-->
        <div class="container bg-blue ct-categorias py-5">
            <h4 class="px-2">POR CATEGORIA</h4>
            <div class="container d-flex justify-content-around py-2">
                <!--Card-->
                <div class="card-categoria rounded text-center bg-darkblue" >
                    <img class="card-img-top" src="public/media/jpg/3600_10_01.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">descricao</h5>
                    </div>
                  </div>
                  <!--Card-->
                   <!--Card-->
                <div class="card-categoria rounded text-center bg-darkblue" >
                    <img class="card-img-top" src="public/media/jpg/3700_7_01.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">descricao</h5>
                    </div>
                  </div>
                  <!--Card-->
                   <!--Card-->
                <div class="card-categoria rounded text-center bg-darkblue">
                    <img class="card-img-top" src="public/media/jpg/1989.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">descricao</h5>
                    </div>
                  </div>
                  <!--Card-->
            </div>

            <div class="ct-atividades-recomendadas py-5">
                <h4 class="px-2">ATIVIDADES RECOMENDADAS</h4>

                <div class="container">
                    <!--Card-->
                    <div id="recomendada-1" class=" card-recomendada rounded text-center bg-darkblue" >
                        <div class="card-body">
                          <h5 class="card-title recomendada-title py-4">descricao</h5>
                        </div>
                      </div>
                    <!--Card-->
                    <!--Card-->
                    <div id="recomendada-2" class="card-recomendada rounded text-center bg-darkblue" >
                        <div class="card-body">
                          <h5 class="card-title recomendada-title py-4">descricao</h5>
                        </div>
                      </div>
                    <!--Card-->
                    <!--Card-->
                    <div id="recomendada-3" class=" card-recomendada rounded text-center bg-darkblue" >
                        <div class="card-body">
                          <h5 class="card-title recomendada-title py-4">descricao</h5>
                        </div>
                      </div>
                    <!--Card-->
                    

            </div>
            

        </div>
       
        <!--Categoria-->







    </div>

</div>
</section>

{{footer}}