<div class="container py-2 text-center">
    <div class="container bg-darkblue text-light py-4">
        <div class="container py-3">
            <h1 class="tt-perfil">Escolha seu perfil:</h1>

                <div class="container ct-perfil d-flex justify-content-around py-5">
                    <div class="profile-item py-2">
                        <img class="profile-img rounded-circle bg-darkblue" src="public/media/4.png">
                        <h3 class="py-2">Perfil 1</h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, non.</p>
                    </div>                    
                    <div class="profile-item py-2">
                        <img class="profile-img rounded-circle bg-darkblue" src="public/media/7.png">
                        <h3 class="py-2">Perfil 2</h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, non.</p>
                    </div>
                    <div class="profile-item py-2">
                        <img class="profile-img rounded-circle bg-darkblue" src="public/media/6.png">
                        <h3 class="py-2">Perfil 3</h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, non.</p>
                    </div>
                    
            </div>

        </div>
    </div>
</div>