{{header}}
<section class="bg-darkblue px-2 py-2">
    <link rel="stylesheet" href="public\css\activity.css">
    <link rel="stylesheet" href="public\css\style.css">
    
    <!--Banner-->
    <div class="container">
      <div class="rounded bg-darkblue bg-pattern py-2 px-4">
        <h1 class="teste">ATIVIDADE</h1>
        <h4 class="teste">ESCOLHIDA</h4>
      </div>
    </div>

    <!--Texto de introdução da atividade-->
    <div class="container py-4 px-4 material-atividade d-flex justify-content-between">
      <div class="img-atividade">
        <img src="public/media/1.png">
      </div>
      <div class="container atv-texto">
        <h3 class="py-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, nihil?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laborum harum dolor ut rerum facilis dolorem doloremque facere maiores ipsa vero labore eligendi perferendis corrupti ab, error ex provident placeat ullam! Blanditiis iste ipsam error, aliquid officiis sunt impedit pariatur eaque natus voluptates minus autem deserunt illum? Natus, dolorem recusandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, libero sed. Id, voluptatum. Maiores, culpa dignissimos rem officia similique eveniet iste eaque ut qui sunt ducimus repudiandae ab assumenda. Alias iusto delectus laborum explicabo mollitia iste quas voluptas architecto! Quod.</p>
      </div>
    </div>

    <h5 class="py-1 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, sequi.</h5>
    <!--Resposta do usuário-->
    <div class="container py-4 px-4  d-flex justify-content-between ">
      <div class="box bg-blue">
        <div class="input-group resposta-atividade bg-blue">
          <textarea class="form-control resposta" aria-label="With textarea"></textarea>
        </div>
      </div>

      <div class="clock py-2 bg-blue d-flex align-items-center justify-content-between p-3">
          <div class="clock-img">
            <img src="public/media/clock.png">
          </div>
          <div class="clock-text">
            <p class="clock-text">00:00:00</p>
          </div>

      </div>
    </div>
    
    <div class="container-buttons d-flex justify-content-center">
        <button type="button" class="btn btn-success btn-lg btn-block rounded">Finalizar</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block rounded">Descartar</button>
    </div>

</section>