{{header}}
<section class="bg-darkblue px-2 py-2">
    <link rel="stylesheet" href="public\css\centrals.css">
    <link rel="stylesheet" href="public\css\style.css">
    
    <!--Banner-->
    <div class="container py-2 ">
      <div class="rounded bg-darkblue bg-pattern py-3 px-4">
        <h1 class="teste text-center">CENTRAIS DE AJUDA</h1>
      </div>
     
    </div>

    <div class="container centrais-ajuda py-4 d-flex justify-content-between">
      <div class="container">
        <div class="centrais-texto py-3">
          <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus facilis quae blanditiis quos commodi natus nisi qui repellat deserunt quod, dolor facere molestias quia voluptate? Amet eaque laudantium ut voluptate eius blanditiis, doloribus nobis iure omnis ab odit, minus odio!</h5>
        </div>
        <div class="centrais-telefones bg-blue  rounded px-4 py-4">
          <div class="group-1 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
          </div>
          <div class="group-2 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
          </div>
          <div class="group-2 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
          </div>
          <div class="group-2 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
            <div class="telefone text-center">
              <h5><b>Lorem ipsum dolor sit amet.</b></h5>
              <h5>(00) 0 0000 - 0000</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="centrais-img">
        <img src="public/media/8.png">
      </div>
        
    </div>

    <div class="container py-2 text-center">
        <a href="{{URL}}"><button type="button" class="btn bg-blue text-light btn-lg btn-block rounded">Voltar ao início</button></a>
       
    </div>
    
    <div class="container py-4"></div>

</section>

<br>