{{header}}
<section class="bg-darkblue px-2 py-2">
    <link rel="stylesheet" href="public\css\centrals.css">
    <link rel="stylesheet" href="public\css\style.css">
    
    <!--Banner-->
    <div class="container py-2 ">
      <div class="rounded bg-darkblue bg-pattern py-3 px-4">
        <h1 class="teste text-center">CENTRAIS DE AJUDA</h1>
      </div>
     
    </div>

    <div class="container centrais-ajuda py-4 d-flex justify-content-between">
      <div class="container">
        <div class="centrais-texto py-3">
          <h5>As redes de apoio emocional e ajudam devs que estão passando por dificuldades pessoais. Recomendamos que entre em contato com estas redes se precisar de ajuda ou se preocupa com um amigo. Conheça alguns dos centros espalhados pelo mundo:</h5>
        </div>
        <div class="centrais-telefones bg-blue  rounded px-4 py-4">
          <div class="group-1 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>Centro de Valorização da Vida</b></h5>
              <h5>Brasil e Portugal - 188 </h5>
            </div>
            <div class="telefone text-center">
              <h5><b>National Suicide Prevention Lifeline</b></h5>
              <h5>EUA - 1 800 273</h5>
            </div>
          </div>
          <div class="group-2 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>The Trevor Project </b></h5>
              <h5>EUA -  1 866 488 73865</h5>
            </div>
            <div class="telefone text-center">
              <h5><b>TelefonSeelsorge – Notruf 142</b></h5>
              <h5>Áustria - 142</h5>
            </div>
          </div>
          <div class="group-2 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>Nummer gegen Kummer</b></h5>
              <h5>Alemanha - 0800 111 0 550</h5>
            </div>
            <div class="telefone text-center">
              <h5><b>The Samaritans Hong Kong</b></h5>
              <h5>Hong Kong - 2896 0000</h5>
            </div>
          </div>
          <div class="group-2 d-flex rounded justify-content-between py-2">
            <div class="telefone text-center">
              <h5><b>Instituto Hispanoamericano</b></h5>
              <h5>México - +5255 46313300</h5>
            </div>
            <div class="telefone text-center">
              <h5><b>The South African Group (SADAG)</b></h5>
              <h5>Africa do Sul - 0800 567 567</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="centrais-img">
        <img src="public/media/8.png">
      </div>
        
    </div>

    <div class="container py-2 text-center">
        <a href="{{URL}}"><button type="button" class="btn bg-blue text-light btn-lg btn-block rounded">Voltar ao início</button></a>
       
    </div>
    
    <div class="container py-4"></div>

</section>

<br>