{{header}}
<section class="bg-darkblue px-2 py-2">
    <link rel="stylesheet" href="public\css\feedback.css">
    <link rel="stylesheet" href="public\css\style.css">
    
    <!--Banner-->
    <div class="container py-2 ">
      <div class="rounded bg-darkblue bg-pattern py-3 px-4">
        <h1 class="teste text-center">FEEDBACK</h1>
      </div>
    </div>

    <div class="container feedback-1 py-2">
        <h4 class="py-4">Como você se sentia antes da atividade?</h4>
        <div class="feedback-icons d-flex justify-content-center">
            <div class="icon px-4">
                <img src="public/media/icons/happy.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/sad.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/angry.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/party.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/tired.png">
            </div>
        </div>
    </div>
    <div class="container feedback-2 py-5">
        <h4 class="py-4">Como você se sentia depois da atividade?</h4>
        <div class="feedback-icons d-flex justify-content-center">
            <div class="icon px-4">
                <img src="public/media/icons/happy.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/sad.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/angry.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/party.png">
            </div>
            <div class="icon px-4">
                <img src="public/media/icons/tired.png">
            </div>
        </div>
    </div>

    <div class="container py-5 text-center">
        <a href="{{URL}}"><button type="button" class="btn bg-blue text-light btn-lg btn-block rounded">Próximo</button></a>
        <p class="py-2">Prefiro não responder</p>
    </div>
    
</section>