{{header}}
<section class="bg-darkblue px-2 py-4 rounded">
    <link rel="stylesheet" href="public\css\metrics.css">
    <link rel="stylesheet" href="public\css\home.css">
    <link rel="stylesheet" href="public\css\style.css">
<div class="global-met bg-blue rounded">
    

     <!--Banner-->
     <div class="container-met ">
         
        <div class="bg-darkblue bg-pattern py-2 px-4">
            <div class="py-2"></div>
            <h1>MÉTRICAS</h1>
        </div>
        <div class="banner-img-met">
            <img src="public/media/9.png">
        </div>
    </div>
    <!--Banner-->
  
    <div class="py-4"></div>    
    <div class="container d-flex justify-content-between">
        <!--Tempo ativo-->
        <div class="container">
            <div class="tempo-met  p-4 rounded text-center">
                <h4>TEMPO TOTAL</h4>
                <h4>ATIVO</h4>
                <h4>00:00:00</h4>
            </div>
            <div class="py-2"></div>
            <div class="tempo-met  p-4 rounded text-center">
                <h4>SEMANA</h4>
                <h4>00:00:00</h4>
            </div>
        </div>
        <!--Gráfico tempo-->
        <div class="grafico-tempo-met d-flex justify-content-around rounded">
            <div class="barra-completa">
                <h5>null</h5>
                <div class="barra"></div>
                <h5>SEG</h5>
            </div>
            <div class="barra-completa">
                <h5>null</h5>
                <div class="barra"></div>
                <h5>TER</h5>
            </div>
            <div class="barra-completa">
                <h5>null</h5>
                <div class="barra"></div>
                <h5>QUA</h5>
            </div>
            <div class="barra-completa">
                <h5>null</h5>
                <div class="barra"></div>
                <h5>QUI</h5>
            </div>
            <div class="barra-completa">
                <h5>null</h5>
                <div class="barra"></div>
                <h5>SEX</h5>
            </div>
            <div class="barra-completa">
                <h5>null</h5>
                <div class="barra"></div>
                <h5>SAB</h5>
            </div>
            <div class="barra-completa">
                <h5>null</h5>
                <div class="barra"></div>
                <h5>DOM</h5>
            </div>
        </div>
    </div>
    <div class="py-4"></div>
    <hr>
    <div class="py-4"></div>
    
    <!--Atividades concluídas-->
    <div class="d-flex justify-content-between">
        <div class="global-grafico-ativ">
            <div class="pieContainer piechart">
                <div class="pieBackground"></div>
                <div id="pieSlice1" class="hold"><div class="pie"></div></div>
                <div id="pieSlice2" class="hold"><div class="pie"></div></div>
                <div id="pieSlice3" class="hold"><div class="pie"></div></div>
                <div id="pieSlice4" class="hold"><div class="pie"></div></div>
                <div id="pieSlice5" class="hold"><div class="pie"></div></div>
                <div id="pieSlice6" class="hold"><div class="pie"></div></div>
                </div>
                <div class="container d-flex justify-content-center" style="margin-left: 5rem;">
                    <div class="container d-flex justify-content-center">
                        <div>
                            <div class="circle-1"></div>
                            <h5>categoria</h5>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center">
                        <div>
                            <div class="circle-2"></div>
                            <h5>categoria</h5>
                        </div>
                    </div>
                    <div class="container d-flex justify-content-center">
                        <div>
                            <div class="circle-3"></div>
                            <h5>categoria</h5>
                        </div>
                    </div>
                </div>
        </div>

        <div class="ativ-met  p-4 rounded text-center">
            <h4>ATIVIDADES</h4>
            <h4>CONCLUÍDAS</h4>
            <h4>0</h4>
        </div>
       
    </div>
   
    <div class="py-4"></div>
    <hr>
    <div class="py-4"></div>

    <!--Atividades recentes-->

    <div class="ativ-met-title text-center py-2">
        <h4>ATIVIDADES</h4>
        <h4>RECENTES</h4>
    </div>

    <div class="container px-5">
        <!--Card-->
     <div id="recomendada-1" class=" card-recomendada rounded text-center bg-darkblue" >
        <div class="card-body">
          <h5 class="card-title recomendada-title py-4">descricao</h5>
        </div>
      </div>
    <!--Card-->
    <!--Card-->
    <div id="recomendada-2" class="card-recomendada rounded text-center bg-darkblue" >
        <div class="card-body">
          <h5 class="card-title recomendada-title py-4">descricao</h5>
        </div>
      </div>
    <!--Card-->
    <!--Card-->
    <div id="recomendada-3" class=" card-recomendada rounded text-center bg-darkblue" >
        <div class="card-body">
          <h5 class="card-title recomendada-title py-4">descricao</h5>
        </div>
      </div>
    <!--Card-->
    </div>
    <div class="py-4"></div>
    <hr>
    <div class="py-4"></div>


    <!--Emoções frequentes-->
    <div class="ativ-met-title text-center p-3">
        <h4>EMOÇÕES</h4>
        <h4>FREQUENTES</h4>
    </div>
    <div class="py-2"></div>
    <div class="global-emo d-flex justify-content-center">
        <div class="container">
            <!--Emoção-->
            <div class="emo-group d-flex justify-content-center py-2">
                <div>
                    <img src="public/media/icons/happy.png">
                </div>
            </div>
            <div class="emo-group d-flex justify-content-center py-2">
                <div>
                    <img src="public/media/icons/sad.png">
                </div>
            </div>
            <div class="emo-group d-flex justify-content-center py-2">
                <div>
                    <img src="public/media/icons/angry.png">
                </div>
                
            </div>
        </div>

        <div class="container global-progress py-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
        </div>
    </div>
    
    <div class="py-4"></div>


</div>   

</section>

<br>