{{header}}
<section class="bg-darkblue px-2 py-2">
    <link rel="stylesheet" href="public\css\vent.css">
    <link rel="stylesheet" href="public\css\style.css">
    
    <!--Banner-->
    <div class="container py-2 ">
      <div class="rounded bg-darkblue bg-pattern py-3 px-4">
        <h1 class="teste text-center">DESABAFO</h1>
      </div>
      <div class="banner-img">
        <img src="public/media/10.png">
    </div>
    </div>

    <div class="container desabafo py-4">
        <h4 class="py-2">Digite na caixa abaixo seus pensamentos:</h4>
        <div class="desabafo-text px-5">
            <div class="box bg-blue">
                <div class="input-group resposta-desabafo bg-blue">
                  <textarea class="form-control resposta" aria-label="With textarea"></textarea>
                </div>
              </div>
        </div>
        <h5 class="text-center py-2">O desabafo é opcional e será descartado em seguida.</h5>
    </div>

    <div class="container py-1 text-center">
        <a href="{{URL}}"><button type="button" class="btn bg-blue text-light btn-lg btn-block rounded">Finalizar</button></a>
       
    </div>
    
    <div class="container py-5"></div>

</section>